{% extends 'SofitechAdminBundle::layout.html.twig' %}

{% block leftmenu %}
    <a href="{{ path('formation_new') }}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Ajouter une formation</a>
{% endblock %}

{% block content %}
    {{ dump(maincategories) }}
    {% include 'SofitechAdminBundle::formation.nav.html.twig' with {'active':'informatique', } %}
    <div class="col-md-12">
        <h1>Liste des formations</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Durée</th>
                <th>Actions</th>
                {% block tableth %}{% endblock %}
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.description }}</td>
                    <td>{{ entity.duration }}</td>
                    {% block tabletd %}{% endblock %}
                    <td>
                        {% block personaction %}{% endblock %}
                        <div class="btn-group" role="group" aria-label="...">
                            <a href="{{ path('formation_show', { 'id': entity.id }) }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Afficher</a>
                            <a href="{{ path('formation_edit', { 'id': entity.id }) }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span> Modifier</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}