{% extends 'SofitechAdminBundle::layout.html.twig' %}
{% block leftmenu %}
    <ul class="list-unstyled">
        <li>
            <a href="{{ path('formation_edit', { 'id': entity.id }) }}" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> Modifier</a>
        </li>
        <li>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-remove"> Supprimer
            </button>
        </li>
        <li>
            <a href="{{ path('formation') }}" class="btn btn-default"><span class="glyphicon glyphicon-list-alt"></span> Liste des étudiants</a>
        </li>
    </ul>
{% endblock %}
{% block content %}
    <h1>Formation</h1>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><label class="label label-default">Détails</label></div>
            <div class="panel-body table-responsive">
                <table class="table table-condensed">
                    <tr>
                        <th>Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Intitulé</th>
                        <td>{{ entity.name }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ entity.description }}</td>
                    </tr>
                    <tr>
                        <th>Durée</th>
                        <td>{{ entity.duration }}</td>
                    </tr>
                    <tr>
                        <th>Programme</th>
                        <td>{{ entity.program }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Supprimer la formation</h4>
                </div>
                <div class="modal-body">
                    <p>Voulez-vous vraiement supprimer : </p>
                    <p><strong>{{ entity.name }} </strong></p>
                </div>
                <div class="modal-footer">
                    {{ form_start(delete_form) }}
                    <button type="submit" class="btn btn-danger"></span> Supprimer</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"> Annuler</button>
                    {{ form_end(delete_form) }}
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}