{% extends 'SofitechAdminBundle::layout.html.twig' %}

{% block leftmenu %}
    <a href="{{ path('teacher_new') }}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Ajouter un professeur</a>
{% endblock %}

{% block content %}
    {% include 'SofitechAdminBundle::person.nav.html.twig' with {'active':'teacher'} %}
    <div class="col-md-12">
        <h1>Liste des professeurs</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Actions</th>
                    {% block tableth %}{% endblock %}
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.firstname }}</td>                    
                    <td>{{ entity.lastname }}</td>
                    {% block tabletd %}{% endblock %}
                    <td>
                    {% block personaction %}{% endblock %}
                    <div class="btn-group" role="group" aria-label="...">
                      <a href="{{ path('teacher_show', { 'id': entity.id }) }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-user"></span> Afficher</a>
                     <a href="{{ path('teacher_edit', { 'id': entity.id }) }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span> Modifier</a>
                    </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

