{% extends 'SofitechAdminBundle::layout.html.twig' %}
{% block leftmenu %}    
    <ul class="list-unstyled">
        <li>
            <a href="{{ path('teacher_edit', { 'id': entity.id }) }}" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> Modifier</a>
        </li>
        <li>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-remove"> Supprimer
            </button>
        </li>
        <li>
            <a href="{{ path('teacher') }}" class="btn btn-default"><span class="glyphicon glyphicon-list-alt"></span> Liste des formateurs</a>
        </li>
    </ul>
{% endblock %}
{% block content %}
    {% include 'SofitechAdminBundle:Teacher:detail.html.twig' %}
 <div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Supprimer formateur</h4>
      </div>
      <div class="modal-body">
        <p>Voulez-vous vraiement supprimer : </p>
        <p><strong>{{ entity.firstname }} {{ entity.lastname }} </strong></p>
      </div>
      <div class="modal-footer">
        {{ form_start(delete_form) }}        
                <button type="submit" class="btn btn-danger"></span> Supprimer</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"> Annuler</button>
        {{ form_end(delete_form) }}
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}