{% extends 'SofitechAdminBundle::layout.html.twig' %}
{% block leftmenu %}
       <a href="{{ path('student') }}" class="btn btn-default"><span class="glyphicon glyphicon-list-alt"></span> Liste des étudiants</a>  
       {{ form_start(delete_form) }}
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Supprimer</button>
    {{ form_end(delete_form) }}   
{% endblock %}
{% block content -%}
    <h1>Ajouter étudiant</h1>
{{ form_start(edit_form) }}
    <div class="form-horizontal col-md-12">
    	<div class="form-horizontal col-md-6">
    	<div class=" panel panel-default">
    	<div class="panel-heading"><strong><span class="label label-default">IDENTITÉ</span></strong></div>
    	<div class="panel-body">
        {% for item in edit_form if item.vars['name'] != '_token' %}
            {% if item.vars['name'] != 'adress' %}
	            <div class="form-group">
	                <div class="col-md-4">
	                    {{ form_label(item) }}
	                </div>
	                <div class="col-md-7">
	                    {{ form_widget(item, {'attr' : {'class' : 'form-control'}} ) }}
	                </div>
	            </div>
	        {% else %}
	        	</div>
	        	</div>
	        	</div>
	        	<div class="form-horizontal col-md-6">
	        	<div class="panel panel-default">
	        	<div class="panel-heading"><strong><span class="label label-default">ADRESSE</span></strong></div>
	        	<div class="panel-body">
	        	{% for element in item  %}
	        		
                	{% if element.vars['name'] != 'type' %}
                		<div class="form-group">
               				<div class="col-md-4">
                    			{{ form_label(element) }}
                    		</div>
                	{% endif %}
		                
		                
                	{% if element.vars['name'] == 'type' %}
                    	{{ form_widget(element, {'attr' : {'class' : 'form-control', 'value' : 'contact'}} ) }}
                	{% else %}
                		<div class="col-md-7">
	                    	{{ form_widget(element, {'attr' : {'class' : 'form-control'}} ) }}
	                    </div>
            			</div>
                	{% endif %}  
		        {% endfor %}
		   		 </div>
		   		 </div>
		   		 </div>
		    {% endif %}
        {% endfor %}

        {# {{ form_widget(form.adress) }} #}
        {{ form_widget(edit_form._token) }}  
        <div class="form-horizontal col-md-12">
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> Modifier</button> 
        </div>
{{ form_end(edit_form) }}

</div>
{% endblock %}

{% block otherjavascripts %}{% endblock %}

