{% extends 'SofitechAdminBundle::layout.html.twig' %}

{% block leftmenu %}
    <a href="{{ path('student_new') }}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Ajouter un étudiant</a>
{% endblock %}

{% block content %}
    {% include 'SofitechAdminBundle::person.nav.html.twig' with {'active':'student'} %}
    <div class="col-md-12">
        <h1> Liste des étudiants</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Actions</th>
                    {% block tableth %}{% endblock %}
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.lastname }}</td>
                    <td>{{ entity.firstname }}</td>
                    {% block tabletd %}{% endblock %}
                    <td>
                    {% block personaction %}{% endblock %}
                    <div class="btn-group" role="group" aria-label="...">
                      <a href="{{ path('student_show', { 'id': entity.id }) }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Afficher</a>
                     <a href="{{ path('student_edit', { 'id': entity.id }) }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span> Modifier</a>
                     <a type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal-{{ entity.id }}"><span class="glyphicon glyphicon-remove"></span> Supprimer</a>
                    </div>
                    </td>
                </tr>
                <div class="modal fade" id="myModal-{{ entity.id }}">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Supprimer étudiant</h4>
                      </div>
                      <div class="modal-body">
                        <p>Voulez-vous vraiement supprimer : </p>
                        <p><strong>{{ entity.firstname }} {{ entity.lastname }} </strong></p>
                      </div>
                      <div class="modal-footer">
                        {{ form_start(delete_forms[entity.id]) }}        
                                <button type="submit" class="btn btn-danger"> Supprimer</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal"> Annuler</button>
                        {{ form_end(delete_forms[entity.id]) }}
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
               {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

