{% extends 'SofitechAdminBundle::layout.html.twig' %}
{% block leftmenu %}
       <a href="{{ path('student') }}" class="btn btn-default"><span class="glyphicon glyphicon-list-alt"></span> Liste des étudiants</a>     
{% endblock %}
{% block content -%}
    <h1>Ajouter étudiant</h1>
{{ form_start(form) }}
    <div class="form-horizontal col-md-12 theform">
    	<div class="form-horizontal col-md-6">
	    	<div class=" panel panel-default">
	    	<div class="panel-heading"><strong><span class="label label-default">IDENTITÉ</span></strong></div>
		    	<div class="panel-body">
		        {% for item in form if item.vars['name'] != '_token' %}
		            {% if item.vars['name'] != 'adresses' %}

			            <div class="form-group">
			                <div class="col-md-4">
			                    {{ form_label(item) }}
			                </div>
			                <div class="col-md-7">
			                    {{ form_widget(item, {'attr' : {'class' : 'form-control'}} ) }}
			                </div>
			            </div>
			        	
				    {% endif %}
		        {% endfor %}
		        </div>
	    	</div>
    	</div>
    	
        
        {{ form_widget(form._token) }}  
       {#  <div class="form-horizontal col-md-12">
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Ajouter</button>  
    </div> #}
{{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %} 
	{{ parent() }}
	<script type="text/javascript">
  $(document).ready(function() {
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container = $('div#sofitech_adminbundle_student_adresses');
    // $container.addClass("col-md-12");
    var index = 0;
  
    addCategory($container);
    // addCategory($container);
    // La fonction qui ajoute un formulaire Categorie
    function addCategory($container) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Adresse n°' + (index+1))
          .replace(/__name__/g, index));
      console.log($prototype);
      // On ajoute le prototype modifié à la fin de la balise <div>
      $container.append($prototype);
      // On applique les class css de bootstrap
      $('#sofitech_adminbundle_student_adresses_'+index).addClass("form-horizontal col-md-6");
      $('#sofitech_adminbundle_student_adresses_'+index).children('div').addClass('form-group myform_'+index);
      $('.myform_'+index).find("label").wrap('<div class="col-md-4" ></div>');
      $('.myform_'+index).find("input").wrap('<div class="col-md-7" ></div>').addClass('form-control');
      $('.myform_'+index).find("select").wrap('<div class="col-md-7" ></div>').addClass('form-control');
      $('#sofitech_adminbundle_student_adresses_0_type').val("contact");
      $('#sofitech_adminbundle_student_adresses_0_type').parents().eq(1).hide();
      $('#sofitech_adminbundle_student_adresses_0').wrapInner('<div class="panel-body"></div>');
      
      $('#sofitech_adminbundle_student_adresses_0').wrapInner('<div class=" panel panel-default"></div>');
      $('#sofitech_adminbundle_student_adresses_0').children('div').prepend('<div class="panel-heading"><strong><span class="label label-default">ADRESSE</span></strong></div>');


     

      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
      index++;
    }
     // masquage des labels §§§
     $('div:not([class])').each( function(){
       $(this).find('label').eq(0).hide();
     });

     $('.theform').append('<div class="form-horizontal col-md-12"> <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>Ajouter</button></div>');

  });
</script>
{% endblock %}

