{% extends 'SofitechAdminBundle::layout.html.twig' %}
{% block leftmenu %}
       <a href="{{ path('student') }}" class="btn btn-default"><span class="glyphicon glyphicon-list-alt"></span> Liste des étudiants</a>     
{% endblock %}
{% block content -%}
    <h1>Ajouter étudiant</h1>
{{ form_start(form) }}
    <div class="form-horizontal col-md-12">
        {% for item in form if item.vars['name'] != '_token' %}
            {% if item.vars['name'] != 'adress' %}
	            <div class="form-group">
	                <div class="col-md-4">
	                    {{ form_label(item) }}
	                </div>
	                <div class="col-md-7">
	                    {{ form_widget(item, {'attr' : {'class' : 'form-control'}} ) }}
	                </div>
	            </div>
	        {% else %}
	        	{% for element in item  %}
	        		<div class="form-group">
		                <div class="col-md-4">
		                    {{ form_label(element) }}
		                </div>
		                <div class="col-md-7">
		                    {{ form_widget(element, {'attr' : {'class' : 'form-control'}} ) }}
		                </div>
		            </div>
		        {% endfor %}
		    {% endif %}
        {% endfor %}

        {# {{ form_widget(form.adress) }} #}
        {{ form_widget(form._token) }}  

        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Ajouter</button>  
{{ form_end(form) }}
</div>
{% endblock %}

{% block otherjavascripts %}{% endblock %}

