{#
{% if active == "informatique" %}
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation"><a href="{{ path('formation') }}">Histoire</a></li>
        <li role="presentation"><a href="{{ path('formation') }}">Economie</a></li>
        <li role="presentation"><a href="{{ path('formation') }}">Droit</a></li>
        <li role="presentation"><a href="{{ path('formation') }}">Ressources humaines</a></li>
    </ul>
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation"><a href="{{ path('formation') }}">Bureautique</a></li>
        <li role="presentation"><a href="{{ path('formation') }}">Réseau</a></li>
        <li role="presentation" class="active"><a href="{{ path('formation') }}">Informatique</a></li>
        <li role="presentation" class=""><a href="{{ path('formation') }}">Gestion</a></li>
    </ul>

{% elseif active == "economie" %}
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{{ path('formation') }}">Economie</a></li>
        <li role="presentation"><a href="{{ path('formation') }}">Informatique</a></li>
        <li role="presentation" class="active"><a href="{{ path('formation') }}">Ressources humaines</a></li>
    </ul>

{% elseif active == "ressource_humaine" %}
    <ul class="nav nav-tabs">
        <li role="presentation"class="active"><a href="{{ path('formation') }}">Economie</a></li>
        <li role="presentation"><a href="{{ path('formation') }}">Informatique</a></li>
        <li role="presentation"><a href="{{ path('formation') }}">Ressources humaines</a></li>
    </ul>

{% else %}
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{{ path('formation') }}">Economie</a></li>
        <li role="presentation"><a href="{{ path('formation') }}">Informatique</a></li>
        <li role="presentation"><a href="{{ path('formation') }}">Ressources humaines</a></li>
    </ul>

{% endif %}#}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Catégories</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% for category in maincategories %}
                    <li {% if category.id == active %} class = "active" {% endif %} ><a href="{{ path('formation_liste', { 'active': category.id }) }}">{{ category.name }}</a></li>
                {% endfor %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Autres catégories <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

