
	{% if active == "student" %}
		<ul class="nav nav-tabs">
		  <li role="presentation"><a href="{{ path('customer') }}">Client</a></li>
		  <li role="presentation" class="active"><a href="{{ path('student') }}">Etudiant</a></li>
		  <li role="presentation"><a href="{{ path('teacher') }}">Formateur</a></li>
		</ul>

	{% elseif active == "teacher" %}
		<ul class="nav nav-tabs">
		  <li role="presentation"><a href="{{ path('customer') }}">Client</a></li>
		  <li role="presentation"><a href="{{ path('student') }}">Etudiant</a></li>
		  <li role="presentation" class="active"><a href="{{ path('teacher') }}">Formateur</a></li>
		</ul>

	{% elseif active == "customer" %}
		<ul class="nav nav-tabs">
		  <li role="presentation"class="active"><a href="{{ path('customer') }}">Client</a></li>
		  <li role="presentation"><a href="{{ path('student') }}">Etudiant</a></li>
		  <li role="presentation"><a href="{{ path('teacher') }}">Formateur</a></li>
		</ul>

	{% else %}
		<ul class="nav nav-tabs">
		  <li role="presentation"><a href="{{ path('customer') }}">Client</a></li>
		  <li role="presentation"><a href="{{ path('student') }}">Etudiant</a></li>
		  <li role="presentation"><a href="{{ path('teacher') }}">Formateur</a></li>
		</ul>

	{% endif %}

