        <tr>
            <th>Adresse</th>
            <td>{{ entity.street }}</td>
        </tr>
        <tr>
            <th>Adresse 2</th>
            <td>{{ entity.street2 }}</td>
        </tr>
        <tr>
            <th>Ville</th>
            <td>{{ entity.city }}</td>
        </tr>
        <tr>
            <th>Code postal</th>
            <td>{{ entity.zipcode }}</td>
        </tr>
        <tr>
            <th>Pays</th>
            <td>{{ entity.country }}</td>
 		</tr>
