
        <tr>
            <td colspan="2"> Adresse de {{ entity.type }}</td>
        </tr>
        <tr>
            <th>Street</th>
            <td>{{ entity.street }}</td>
        </tr>
        <tr>
            <th>City</th>
            <td>{{ entity.city }}</td>
        </tr>
        <tr>
            <th>Zipcode</th>
            <td>{{ entity.zipcode }}</td>
        </tr>
        <tr>
            <th>Country</th>
            <td>{{ entity.country }}</td>
 		</tr>
